/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
    background: url(images/hero.png) center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);   
    margin: auto;
    max-width: 80em;
}

div.container { 
    position: relative;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);   
    margin: auto;
    max-width: 80em;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
    padding: 1rem 2rem 4rem;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
    display: grid;
    grid-template-columns: 15em auto;
    background: rgb(255, 255, 255);
    padding: 1.5rem 0.5rem 1rem;
}

h1 {
    width: 10em;
}

h2, h3, h4 {
    text-decoration: none;
    font-family: "canvas-inline", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(166, 52, 49);
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
    
h3 {
    font-size: 2rem;
    margin: 1rem 0rem 1rem;
}

h4 {
    font-size: 1.5rem;
}

body {  
    font-family: "dm-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-size: 2rem;
    text-decoration: none;
    font-family: "canvas-inline", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(166, 52, 49);
}

nav ul  {
    text-align: right;
}
    
ul li   {
    list-style-type: none;
}

figure {
    margin-bottom: 1rem;
}

article {
    max-width: 40em;
    margin: auto;
	margin-top: 2rem;
}

main.menu ul {
    margin: 2rem 0rem;
}   

main.menu ul li {
    margin: 2rem 0rem 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}   

p {
    margin: 0rem 0rem 1rem;
}
    
p.description {
    grid-column: 1/3;
    margin: 0rem;
}
    
p.price {
    grid-row: 1/2;
    grid-column: 2/3;
    color: rgb(166, 52, 49);
    text-align: right;
    margin: 0rem;
    font-family: "canvas-inline", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}
    
nav ul li {
    text-transform: lowercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.6rem;
}
    
nav ul li a {
    padding: 0.5rem;
}

nav ul li.selected a { 
    text-decoration: underline;
}

p.slogan {
    font-size: 5rem;
    font-family: "canvas-inline", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 15rem 0rem 0rem;
    color: rgb(255, 255, 255);  
}
    
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; 
    box-sizing: border-box;
    padding: 1rem 0.5rem;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

address {
    color: rgb(250, 250, 250);
}

address.contact-address {
	color: rgb(0, 0, 0);
}

footer p {
    margin: 0;
}

@media screen and (min-width: 80em) {
    main.menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em 5em;
    }

    nav ul li {
        display: inline;
        margin: 0.2rem;
        font-size: 1.5em;
    }

    nav {
        margin: 1.5em;
    }
}
