/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

body {
    background-color: rgb(244, 241, 234);
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
}

figcaption {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: rgb(150, 150, 150);
    margin: 0.5em;
    margin-bottom: 1.5em;
}

h1 {
    font-family: serif;
    width: 12em;
    margin: 1em 0.5em;
}

h2 {
    font-family: cheddar-gothic-rough, sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 3em;
    color: rgb(181, 53, 45);
    margin: 0.2em;
}

h3 {
    font-family: cheddar-gothic-rough, sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 1.8em;
    color: rgb(181, 53, 45);
    margin: 0.2em;
}

h2.secondary {
    font-size: 2em;
}

h2.tertiary {
    font-size: 1.5em;
}

article h2 {
    margin-top: 0.8em;
}

aside h2 {
    font-size: 1.5em;
}

p {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(100, 100, 100);
    line-height: 1.35em;
    margin: 0.2em 0.5em 2em;
}

aside p {
    margin-bottom: 1.5em;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin-bottom: 1em;
}

ul li{
    margin: 0.2em 0.5em;
    
}

nav a {
    font-family: cheddar-gothic-rough, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: rgb(116, 146, 113);
}

.tertiarystory {
    border-top: 1px solid rgb(235, 164, 65);
    margin: 1em 0.5em;
}

aside {
    /* background-color: rgb(203, 206, 253); */
    padding: 1em 0.5em;
}

footer{
    background-color: rgb(47, 62, 86);
    padding: 0.5em;
    box-sizing: border-box;
}

footer p{
    font-family: sans-serif;
    color: rgb(244, 241, 234);
    padding-top: 0.3em;
    margin: 0;
}

div.photogallery {
    max-width: 60em;
    margin: 0 auto; 
}

main.photogallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(66% + 5em);
}

main.photogallery figure {
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8),
input:nth-of-type(9):checked ~ main figure:nth-of-type(9),
input:nth-of-type(10):checked ~ main figure:nth-of-type(10){
    opacity: 1;
}

nav.photogallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.2em;
    padding-bottom: 1em;
}

nav.photogallery label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

input[type="radio"] {
    display: none;
}

main.newsletter {
    padding: 1em;
}

main.newsletter section {
    width: 100%;
    max-width: 32em;
}

main.newsletter form ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 1em;
}

main.newsletter form ul li {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
}

main.newsletter ul li label {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(100, 100, 100);
    margin: 0.5em 0em;
}

main.newsletter section ul li input[type="text"],
main.newsletter section ul li input[type="email"] {
    width: 100%;
    padding: 0.8em;
    border: 1px solid rgb(200, 200, 200);
    box-sizing: border-box;
    font-family: "neue-haas-unica", sans-serif;
    font-size: 0.8em;
}

main.newsletter .interests ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style: none;
}

main.newsletter .interests li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.5em;
    padding-bottom: 0;
    gap: 0.2em;
}

main.newsletter button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 164, 65); /* rgb(116, 146, 113); */
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5em 1.5em;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 300;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (min-width: 40em) {
	nav ul li 	{
		display: inline;
		font-size: 1em;
		padding: 0.8rem;
        margin-left: 0em;
	}

    h1, h2,  p, figcaption, nav ul li, .tertiarystory {
        margin-left: 0em;
        padding-left: 0em;
    }
}

@media only screen and (min-width: 60em) {

    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

     div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover; 
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondarystory {
        display: flex;
    }

    section.secondarystory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a figure img {
        object-fit: cover;
    }

    section.secondarystory a h2 {
        flex: 0 0 1em;
    }

    section.secondarystory a p {
        flex: 0 0 4em;
        /* margin-bottom: 0; */
    }

    section.tertiarystory {
        margin-top: 0;
    }
}

@media screen and (prefers-color-scheme: dark) {

    body {
        background-color: rgb(22, 22, 22);
    }

    h1 {
        background-image: url("theyorker-logo-alt.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    h1 img {
        opacity: 0;
    }

    p, a, main.newsletter label, main.newsletter .interests label, main.newsletter .contact label  {
        color: rgb(227, 224, 217);
    }

    main.newsletter input::placeholder {
        color: rgb(160, 160, 160);
    } 
} 